/*
  --------------
  Font & Variables
  --------------
*/
@import url("https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911");
/*
  --------------
  Entire App Settings
  --------------
*/
html {
  background: #43a9c4;
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

h1,
h2,
h3,
h4,
p,
a,
li,
input,
label,
button {
  font-family: "Goudy Bookletter 1911", serif; }

.center-elements {
  display: flex;
  justify-content: center; }

/*
  --------------
  CheckBoxes Component
  --------------
*/
.filter-options {
  margin: 0 auto;
  padding: 15px 0;
  color: white;
  font-size: 1.2em; }
  .filter-options label {
    margin-right: 20px; }
  .filter-options input {
    margin-right: 5px; }

/*
  --------------
  Recipes Component
  --------------
*/
a {
  color: inherit; }
  a:visited {
    color: none; }
  a:hover {
    color: #43a9c4; }

@media screen and (max-width: 740px) {
  article.media {
    display: inline; }
  .media-left {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50%; }
  .media-content h3.title {
    text-align: center; } }

/*
  --------------
  Footer
  --------------
*/
.footer {
  margin-top: auto;
  background-color: #43a9c4;
  position: relative;
  padding: 20px; }
  .footer p,
  .footer a {
    text-decoration: none;
    color: white; }
  .footer a:hover:hover {
    color: #6f6a67; }
